<p class="h3">Graficos de riesgos</p>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Gráfico de barras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Gráfico de linea</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart">Gráfico de anillos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart">Gráfico de radar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Gráfico de torta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bubble-chart">Gráfico de burbujas</a>
    </li>
  </ul>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>
